[Desktop Entry]
Name=Kollision
Name[ast]=Kollision
Name[bs]=Kollision
Name[ca]=Kollision
Name[ca@valencia]=Kollision
Name[cs]=Kollision
Name[da]=Kollision
Name[de]=Kollision
Name[el]=Kollision
Name[en_GB]=Kollision
Name[eo]=Kollision
Name[es]=Kollision
Name[et]=Kollision
Name[eu]=Kollision
Name[fi]=Kollision
Name[fr]=Kollision
Name[ga]=Kollision
Name[gl]=Kollision
Name[hne]=कोलिसन
Name[hu]=Kollision
Name[it]=Kollision
Name[ja]=Kollision
Name[kk]=Kollision
Name[km]=Kollision
Name[lt]=Kollision
Name[lv]=Kollision
Name[nb]=Kollision
Name[nds]=Kollision
Name[nl]=Kollision
Name[nn]=Kollisjon
Name[pl]=Kollision
Name[pt]=Kollision
Name[pt_BR]=Kollision
Name[ro]=Koliziune
Name[ru]=Kollision
Name[sk]=Kollision
Name[sl]=Kollision
Name[sr]=Колизија
Name[sr@ijekavian]=Колизија
Name[sr@ijekavianlatin]=Kolizija
Name[sr@latin]=Kolizija
Name[sv]=Kollision
Name[tr]=Kollision
Name[ug]=Kollision
Name[uk]=Kollision
Name[x-test]=xxKollisionxx
Name[zh_CN]=Kollision
Name[zh_TW]=Kollision
Exec=kollision
Icon=kollision
Type=Application
Comment=A simple ball dodging game
Comment[ast]=Un xuegu pa esquivar una bola
Comment[bs]=Jednostavna igra izbjegavanja lopte
Comment[ca]=Un senzill joc d'esquivar una bola
Comment[ca@valencia]=Un senzill joc d'esquivar una bola
Comment[da]=Et enkelt undvigelsesspil med bolde
Comment[de]=Ein einfaches Ausweich-Ballspiel
Comment[el]=Ένα απλό παιχνίδι ελιγμών με μπάλες
Comment[en_GB]=A simple ball dodging game
Comment[es]=Un juego sencillo de esquivar pelotas
Comment[et]=Lihtne pallitogimise mäng
Comment[eu]=Pilota saihesteko joku bat
Comment[fa]=بازی ساده جا‌خالی دادن
Comment[fi]=Yksinkertainen väistelypeli
Comment[fr]=Un jeu simple d'évitement de balles
Comment[ga]=Cluiche simplí ina bhfuil ort liathróidí a sheachaint
Comment[gl]=Un xogo de bólas
Comment[hne]=एक सादा गेंद डाज करे के खेल
Comment[hu]=Egyszerű labdakikerülős játék
Comment[it]=Un semplice gioco in cui devi schivare delle palle
Comment[ja]=ボールをよけるシンプルなゲーム
Comment[kk]=Қарапайым доптан жалтару ойны
Comment[km]=ល្បែង​គេច​បាល់​ធម្មតា 
Comment[lv]=Vienkārša izvairīšanās spēle
Comment[nb]=En enkelt spill om å unngå ballen
Comment[nds]=En eenfach Ball-Utwiekspeel
Comment[nl]=Een eenvoudig "stuiterende bal"-spel
Comment[nn]=Enkelt spel der du skal unngå kollisjonar
Comment[pl]=Gra w unikanie kul
Comment[pt]=Um jogo simples de desvio de bolas
Comment[pt_BR]=Um jogo simples: desvie das bolas
Comment[ru]=Простая игра в уклонение от шариков
Comment[sk]=Hra s vyhýbaním loptičiek
Comment[sl]=Preprosta igra izmikanja žogicam
Comment[sr]=Једноставна игра избегавања лопти
Comment[sr@ijekavian]=Једноставна игра избјегавања лопти
Comment[sr@ijekavianlatin]=Jednostavna igra izbjegavanja lopti
Comment[sr@latin]=Jednostavna igra izbegavanja lopti
Comment[sv]=Ett enkelt spel för att undvika bollar
Comment[tr]=Basit bir top sıçratma oyunu
Comment[uk]=Проста гра з кулькою
Comment[x-test]=xxA simple ball dodging gamexx
Comment[zh_CN]=一个简单的躲避球游戏
Comment[zh_TW]=簡單的閃躲球遊戲
Terminal=false
Categories=Qt;KDE;Game;ArcadeGame;
X-DocPath=kollision/index.html
