[KGameTheme]
VersionFormat=1
Name=Kollision Default Theme
Name[bs]=Podrazumijevana tema Kolizije
Name[ca]=Tema predeterminat del Kollision
Name[ca@valencia]=Tema predeterminat del Kollision
Name[cs]=Výchozí motiv Kollision
Name[da]=Kollisions standardtema
Name[de]=Standard
Name[el]=Προκαθορισμένο θέμα Kollision
Name[en_GB]=Kollision Default Theme
Name[es]=Tema predeterminado para Kollision
Name[et]=Kollisioni vaiketeema
Name[fi]=Kollision-pelin oletusteema
Name[fr]=Thème par défaut de Kollision
Name[ga]=Téama Réamhshocraithe Kollision
Name[gl]=Tema visual predeterminado do Kollision
Name[hi]=कोल्लिसन डिफ़ॉल्ट प्रसंग
Name[hu]=Alapértelmezett Kollision-téma
Name[id]=Kollision Default Theme
Name[it]=Tema predefinito per Kollision
Name[kk]=Kollision-ның әдетті нақышы
Name[km]=ស្បែក​លំនាំ​ដើម​​​របស់ Kollision
Name[ko]=Kollision 기본 테마
Name[lv]=Kollision noklusējuma tēma
Name[mr]=कोलिजन मूलभूत शैली
Name[nb]=Standardtema for Kollision
Name[nds]=Kollision-Standardmuster
Name[nl]=Standaardthema van Kollision
Name[nn]=Standardtema for Kollisjon
Name[pl]=Domyślny wystrój Kolizji
Name[pt]=Tema Predefinido do Kollision
Name[pt_BR]=Tema padrão do Kollision
Name[ro]=Tema implicită Koliziune
Name[ru]=Оформление по умолчанию для Kollision
Name[sk]=Štandardná téma Kollision
Name[sl]=Privzeta tema za igro Kollision
Name[sr]=Подразумевана тема Колизије
Name[sr@ijekavian]=Подразумијевана тема Колизије
Name[sr@ijekavianlatin]=Podrazumijevana tema Kolizije
Name[sr@latin]=Podrazumevana tema Kolizije
Name[sv]=Kollision standardtema
Name[tr]=Kollision Öntanımlı Teması
Name[ug]=Kollision كۆڭۈلدىكى ئۆرنىكى
Name[uk]=Типова тема Kollision
Name[x-test]=xxKollision Default Themexx
Name[zh_CN]=Kollision 默认主题
Name[zh_TW]=Kollision 的預設主題
Description=Kollision Default Theme
Description[bs]=Podrazumijevana tema programa Kollision
Description[ca]=Tema predeterminat del Kollision
Description[ca@valencia]=Tema predeterminat del Kollision
Description[cs]=Výchozí motiv Kollision
Description[da]=Kollisions standardtema
Description[de]=Das Standard-Design von Kollision.
Description[el]=Προκαθορισμένο θέμα Kollision
Description[en_GB]=Kollision Default Theme
Description[es]=Tema predeterminado para Kollision
Description[et]=Kollisioni vaiketeema
Description[fi]=Kollision-pelin oletusteema
Description[fr]=Thème par défaut de Kollision
Description[ga]=Téama Réamhshocraithe Kollision
Description[gl]=Tema visual predeterminado do Kollision
Description[hi]=कोल्लिसन डिफ़ॉल्ट प्रसंग
Description[hu]=Alapértelmezett Kollision-téma
Description[id]=Tema Baku Kollision
Description[it]=Tema predefinito per Kollision
Description[kk]=Kollision-ның әдетті нақышы
Description[km]=វាល​ដី​ខ្សាច់​​
Description[ko]=Kollision 기본 테마
Description[lv]=Kollision noklusējuma tēma
Description[mr]=कोलिजन मूलभूत शैली
Description[nb]=Standardtema for Kollision
Description[nds]=Kollision-Standardmuster
Description[nl]=Standaardthema van Kollision
Description[nn]=Standardtema for Kollisjon
Description[pl]=Domyślny wystrój Kolizji
Description[pt]=Tema Predefinido do Kollision
Description[pt_BR]=Tema padrão do Kollision
Description[ro]=Tema implicită Koliziune
Description[ru]=Оформление по умолчанию для Kollision
Description[sk]=Štandardná téma Kollision
Description[sl]=Privzeta tema za igro Kollision
Description[sr]=Подразумевана тема Колизије
Description[sr@ijekavian]=Подразумијевана тема Колизије
Description[sr@ijekavianlatin]=Podrazumijevana tema Kolizije
Description[sr@latin]=Podrazumevana tema Kolizije
Description[sv]=Kollision standardtema
Description[tr]=Kollision Öntanımlı Teması
Description[ug]=Kollision كۆڭۈلدىكى ئۆرنىكى
Description[uk]=Типова тема Kollision
Description[x-test]=xxKollision Default Themexx
Description[zh_CN]=Kollision 默认主题
Description[zh_TW]=Kollision 的預設主題
FileName=theme.svgz
