[KGameTheme]
VersionFormat=1
Name=Kollision Default Theme
Name[ca]=Tema predeterminat del Kollision
Name[ca@valencia]=Tema predeterminat del Kollision
Name[da]=Kollisions standardtema
Name[de]=Standard
Name[en_GB]=Kollision Default Theme
Name[es]=Tema predeterminado para Kollision
Name[et]=Kollisioni vaiketeema
Name[km]=ស្បែក​លំនាំ​ដើម​​​របស់ Kollision
Name[nb]=Standardtema for Kollision
Name[nds]=Kollision-Standardmuster
Name[nl]=Standaardthema van Kollision
Name[pt]=Tema Predefinido do Kollision
Name[pt_BR]=Tema padrão do Kollision
Name[ru]=Оформление по умолчанию для Kollision
Name[sk]=Štandardná téma Kollision
Name[sr]=Подразумевана тема Колизије
Name[sr@ijekavian]=Подразумијевана тема Колизије
Name[sr@ijekavianlatin]=Podrazumijevana tema Kolizije
Name[sr@latin]=Podrazumevana tema Kolizije
Name[sv]=Kollision standardtema
Name[uk]=Типова тема Kollision
Name[x-test]=xxKollision Default Themexx
Name[zh_CN]=Kollision 默认主题
Name[zh_TW]=Kollision 的預設主題
Description=Kollision Default Theme
Description[ca]=Tema predeterminat del Kollision
Description[ca@valencia]=Tema predeterminat del Kollision
Description[da]=Kollisions standardtema
Description[de]=Das Standard-Design von Kollision.
Description[en_GB]=Kollision Default Theme
Description[es]=Tema predeterminado para Kollision
Description[et]=Kollisioni vaiketeema
Description[km]=វាល​ដី​ខ្សាច់​​
Description[nb]=Standardtema for Kollision
Description[nds]=Kollision-Standardmuster
Description[nl]=Standaardthema van Kollision
Description[pt]=Tema Predefinido do Kollision
Description[pt_BR]=Tema padrão do Kollision
Description[ru]=Оформление по умолчанию для Kollision
Description[sk]=Štandardná téma Kollision
Description[sr]=Подразумевана тема Колизије
Description[sr@ijekavian]=Подразумијевана тема Колизије
Description[sr@ijekavianlatin]=Podrazumijevana tema Kolizije
Description[sr@latin]=Podrazumevana tema Kolizije
Description[sv]=Kollision standardtema
Description[uk]=Типова тема Kollision
Description[x-test]=xxKollision Default Themexx
Description[zh_CN]=Kollision 默认主题
Description[zh_TW]=Kollision 的預設主題
FileName=theme.svgz
