[KGameTheme]
VersionFormat=1
Name=Kollision Default Theme
Name[pt]=Tema Predefinido do Kollision
Name[sv]=Kollision standardtema
Name[uk]=Типова тема Kollision
Name[x-test]=xxKollision Default Themexx
Description=Kollision Default Theme
Description[pt]=Tema Predefinido do Kollision
Description[sv]=Kollision standardtema
Description[uk]=Типова тема Kollision
Description[x-test]=xxKollision Default Themexx
FileName=theme.svgz
